extends layout
block content
  h1= title

  div.row(class='mb-2')

  - let actionid = "/resource/groceries/"
  form(id='groceriesForm', action= actionid, method="PUT")
    div.form-group
      label.groceriesAttr(for='item_type')  item_type
      input#item_type(type='text', name='item_type', value= item_type)
    div.form-group
      label.groceriesAttr(for='item_name')  item_name
      input#item_name(type='text', name='item_name', value= item_name)
    div.form-group
      label.groceriesAttr(for='item_price')  item_price
      input#item_price(type='number', name='item_price', value= item_price)
    input(type="submit")
  script.
    document.forms['groceriesForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.text(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeeded");
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error);
      });
    });

