extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to update
  else
    - let item_id = toShow._id
    - let item_type = toShow.item_type
    - let item_name = toShow.item_name
    - let item_price = toShow.item_price
    div.row(class='mb-2')
      div.mr-1 ID is
      div #{item_id}
    - let actionid = "/resource/groceries/" + item_id
    form(id='groceriesForm', action= actionid, method="PUT")
      div.form-group
        label.groceriesAttr(for='item_type') item_type
        input#item_type(type='text', name='item_type', value= item_type )
      div.form-group
        label.groceriesAttr(for='item_name') item_name
        input#item_name(type='text', name='item_name', value= item_name )
      div.form-group
        label.groceriesAttr(for='item_price') item_price
        input#item_price(type='number', name='item_price', value= item_price)
      input(type="submit")
    script.
      document.forms['groceriesForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // Show user that form is being submitted
        // (You can add loading spinner or other visual indicator here)
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Update succeeded")
          // Handle body response here if needed
        }).catch((error) => {
          alert("Update failed " + error )
          // Handle error here if needed
        });
      });
