body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.groceriesAttr {
  background-color: aquamarine;
  width: 120px;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #f06b6b;
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding and border are included in width */
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ffe600;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}